@import 'tailwindcss';

@theme {
    --font-display: 'Gilroy', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';

    --color-background: oklch(0.17 0.0175 268.55);
    --color-btn-bg: oklch(0.73 0.06 79.64);
    --color-btn-hover: oklch(0.68 0.0575 80.42);
    --color-text-muted: oklch(1 0 0 / 50%);
    --color-border: oklch(1 0 0 / 20%);
    --color-input-bg: oklch(1 0 0 / 5%);
}

.primary-px {
    @apply px-5 md:px-12.5 xl:px-25;
}

.primary-py {
    @apply py-6 md:py-12.5 xl:py-18;
}